@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Permanent+Marker&display=swap');

section h1{
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	text-size: 128px;
}

header{
	text-align:center;
	background-image:url("../images/blightphoto.jpg");
	background-size:30% 200%;
	background-repeat:no-repeat;
	background-position:-15% 2%;
	background-color:black;
	color:white;
	position:sticky;
}

header h1{
	font-family:'Permanent Marker', cursive;
}

nav{
	background-color:goldenrod;
	text-align:center;
	
}

.nav{
	/*Why is the navbar not sticky?*/
	position:sticky;
	position:webkit-sticky;
	/*Seriously though, why?*/
	top:5%;
}

nav a{
	padding:1%;
	text-decoration:none;
	color:black;
	transition-duration:0.3s;
}

nav a:hover{
	padding:2%;
	color:white;
	text-size:larger;
	transition-duration:0.3s;
}

body{
	font-family: 'Gemunu Libre', sans-serif;
}

section{
	margin:auto;
	overflow:hidden;
}

#info{
	padding:1%;
}

#HeaderText{
	padding:1%;
}

#Achievements{
	background-color:goldenrod;
	color:white;
	margin:5%;
	padding:1%;
}

#About{
	background-color:black;
	color:white;
	padding:2% 6% 2% 6%;
}

#About img{
	float:right;
	margin:2%;
	overflow:auto;
}

#abouttitle{
	text-align:center;
	padding:1%;
	background-color:#252525;
}

#Blog{
	background-color:black;
	color:white;
	text-align:center;
}

#blogtext{
	background-color:#252525;
	padding:1%;
}

#Blog a{
	text-decoration:none;
	color:white;
	transition-duration:0.3s;
}

#Blog ul{
	text-decoration:none;
}

#blog1{
	padding:0%;
	transition-duration:0.2s;
	color:black;
}

#blog1:hover{
	padding:1%;
	transition-duration:0.2s;
	color:white;
	border:solid goldenrod;
}

#blog2{
	padding:0%;
	transition-duration:0.2s;
	color:black;
}

#blog2:hover{
	padding:1%;
	transition-duration:0.2s;
	color:white;
	border:solid goldenrod;
}

#blog3{
	padding:0%;
	transition-duration:0.2s;
	color:black;
}

#blog3:hover{
	padding:1%;
	transition-duration:0.2s;
	color:white;
	border:solid goldenrod;
}

#blog4{
	padding:0%;
	transition-duration:0.2s;
	color:black;
}

#blog4:hover{
	padding:1%;
	transition-duration:0.2s;
	color:white;
	border:solid goldenrod;
}

#Blog ul{
	list-style:none;
}

#merch{
	text-align:center;
	background-color:white;
	color:white;
}

#merchtitle{
	background-color:#252525;
	padding:1%;
}

#merch img{
	width:15%;
	padding:1%;
	transition-duration:0.2s;
}

#merch img:hover{
	width:17%;
	padding:0%;
	transition-duration:0.2s;
}

#Linkstitle{
	text-align:center;
	background-color:#252525;
	padding:1%;
	color:white;
}

#OtherLinks{
	text-align:center;
	background-color:black;
}

#OtherLinks a{
	text-decoration:none;
	color:white;
	transition-duration:0.2s;
}

#OtherLinks a:hover{
	color:red;
	text-size:larger;
	transition-duration:0.2s;
}

footer{
	background-color:black;
	color:white;
}

footer a{
	text-decoration:none;
	color:white;
}

footer a:hover{
	color:red;
}